*{
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./images/npb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-left{
    position: inherit;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 0.8rem 1rem 0;
}
.top-left:hover{
    cursor: pointer;
}
.heading{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.nationalEmblem{
    width: 4rem;
    height: fit-content;
}
#hindiHeading{
    font-size: 2rem;
    color: #C44747;
    margin: 0;
}
#mainHeading{
    font-size: 2rem;
    color: #C44747;
    margin: 0;
}
#subHeading{
    font-size: 1rem;
    margin: 0;
}
#line{
    width: 100%;
    border: 0.1rem solid black;
}

.grid{
    display: grid;
    grid-template-columns: 1.1fr 2fr 1fr;
}

.bottom-left{
    padding: 1rem;
    position: relative;
    align-content: end;
}
#nrsFull{
    width: 24rem;
}

.center{
    padding: 1rem;
}
.column{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
#picture{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
#name{
    padding: 1rem 2rem;
    margin: 0;
    color:#C44747;
}
#designation{
    padding: 1rem 2rem;
    margin: 0;
}
.left-curve{
    position: relative;
    left: 0;
    height: 9rem;
    width: 75%;
}
.left-curve:hover{
    cursor: pointer;
}
#left-curve-line{
    border-bottom: 0.3rem solid #C44747;
    border-bottom-left-radius: 5rem;
    padding-top: 3.5rem;
    position: relative;
    bottom: 3rem;
}
.right-curve{
    position: relative;
    right: -9rem;
    height: 9rem;
    width: 75%;
}
.right-curve:hover{
    cursor: pointer;
}
#right-curve-line{
    border-bottom: 0.3rem solid #C44747;
    border-bottom-right-radius: 5rem;
    padding-top: 3.5rem;
    position: relative;
    bottom: 3rem;
}

.searchBox{
    position: relative;
    top: 25%;
    right: 0;
    padding: 1rem;
    height: fit-content;
    border-left: 0.2rem solid black;
}
.searchBox > h2{
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
#search{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}
#searchInput{
    height: 1.5rem;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
}
#search > button{
    background-color: #C44747;
    border: 0;
    height: 1.7rem;
    width: 1.7rem;
    padding: 0.2rem;
    margin: 0 0.1rem;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    cursor: pointer;
}
#search > button:active{
    border: 0.1rem solid black;
}
#searchIcon{
    padding: 0.1rem;
    height: 1rem;
    width: 1rem;
}


